<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Acessa minha conta</h3>
        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Email"
            #userName
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Senha"
            #userPassword
            required/>
        </div>

        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Entrar"
            (click)="authService.SignIn(userName.value, userPassword.value)"
          />
        </div>

        <div class="formGroup">
          <span class="or"><span class="orInner">OU</span></span>
        </div>

        <div class="forgotPassword">
          <span routerLink="/forgot-password">Esqueceu a senha?</span>
        </div>
      </div>
    </div>
  </div>
