<div class="row">
    <div>
        <button mat-raised-button color="primary" (click)="onAdd()"> Adicionar Aluno</button>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="exportAsXLSX()"> Exportar Alunos</button>
    </div>
</div>

<div>

</div>
<div>
    <ul *ngFor="let aluno of alunoList">
        <li>{{aluno.nome}}</li>
        <li>{{aluno.cpf}}</li>
        <li>{{aluno.email}}</li>
        <mat-icon (click)="onEdit(aluno)">edit</mat-icon>
        <mat-icon (click)="onDelete(aluno)">delete</mat-icon>
    </ul>
</div>
