<h1 mat-dialog-title>Adicionar Aluno</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="data.cpf">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="data.telefone">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Endereço</mat-label>
    <input matInput [(ngModel)]="data.endereco">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
